<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{!title ? 'New transaction' : 'Edit transaction'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form
    #transactionForm="ngForm"
    (ngSubmit)="!title ? onAddTransaction(transactionForm) : onUpdateTransaction(transactionForm)"
  >
    <ion-grid>
      <ion-row>
        <ion-col sizeSm="6" offsetSm="3">
          <ion-item>
            <ion-label position="floating">Type:</ion-label>
            <ion-select [ngModel]="type" name="type" required>
              <ion-select-option *ngFor="let type of transactionTypes" [value]="type">{{type}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col sizeSm="6" offsetSm="3">
          <ion-item>
            <ion-label position="floating">Purpose:</ion-label>
            <ion-input type="text" [ngModel]="purpose" name="purpose" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col sizeSm="6" offsetSm="3">
          <ion-item>
            <ion-label position="floating">Amount:</ion-label>
            <ion-input type="number" [ngModel]="amount" name="amount" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col sizeSm="6" offsetSm="3">
          <ion-item>
            <ion-label position="fixed">Date:</ion-label>
            <ion-input type="date" [ngModel]="date" name="date" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col sizeSm="6" offsetSm="3">
          <ion-item>
            <ion-label position="floating">Picture URL:</ion-label>
            <ion-input type="text" [ngModel]="pictureUrl" name="pictureUrl" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col sizeSm="6" offsetSm="3">
          <ion-button
            type="submit"
            color="primary"
            expand="block"
            [disabled]="transactionForm.invalid || !transactionForm.touched"
          >
          {{!title ? 'Add' : 'Edit'}}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
