<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card *ngFor="let transaction of transactions">
    <ion-card-header>
      <ion-card-subtitle>{{transaction.type}}</ion-card-subtitle>
      <ion-card-title><img class="img" src="{{transaction.pictureUrl}}" width="250px"> {{transaction.purpose}} </ion-card-title>
    </ion-card-header>

    <ion-card-content class="content">
      Amount: {{transaction.amount| number:'1.2-2'}} RSD
      Date: {{transaction.date}}
    </ion-card-content>
  </ion-card>

</ion-content>
